<div style="background:#384452 none repeat scroll 0% 0%;color:#BFC9D3">
	<div class="container">
		<div class="row" style="padding-top:30px;">
			<div class="col-md-7">
				<p class="lead"> 感谢alijun的前端页面<a href="/">ALJUN</a>.</p>
				<p >网站运行在 <strong>阿里云</strong> 结构 <strong>express+mongodb</strong>.</p>
				
			</div>
			<div class="col-md-5">
				<div>
					<h5 style="margin-bottom:15px;margin-left:18px;"><strong>CONTACT ME</strong></h5>
					<ul>
						<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp WECHAT</a></li>
						<li><a href="http://weibo.com/2277966967/profile"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> &nbsp WEIBO</li>
						<li><a href="https://github.com/salamer"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>&nbsp GITHUB</a></li>
						<li><a href="#"><span class=" glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp EMAIL:<strong>contactsalamer@163.com</strong></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-12">
				<p> <small>© COPYRIGHT BY NCZKEVIN 2016</small></p>
			</div>
		</div>
	</div>
</div>

</body>
</html>