<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NCZkevin</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/dist/css/flat-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
	<link rel="stylesheet" type="text/css" href="/static/css/flat-ui.css">


	<script type="text/javascript" src="/static/dist/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>


	<script type="text/javascript" src="/static/js/mystyle.js"></script>
<style type="text/css">
	h1{
		font-size:50px;
	}
	h2{
		font-size: 40px;
	}
	h3{
		font-size: 30px;
	}
	p{
		font-size: 15px;
	}
	blockquote p{
		font-size: 17px;
	}
	body{
		font-size: 15px;
	}
</style>
</head>
<script type="text/javascript">

</script>
<body style="background-color:#EEE">
	<nav class="navbar navbar-default navbar-Amethyst" role="navigation" style="margin:10px 0px;">
	<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">blog</span>
    </button>
    <a class="navbar-brand" href="/">NCZkevin</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">

    <ul class="nav navbar-nav">
    	<li>
    	
    </li>
      <li class="active"><a href="/">MYBLOG</a></li>
        <li><a href="/book">BOOKSHELF</a></li>
      <li><a href="/about">ABOUTME</a></li>

		 <li><a href="/edit">EDIT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    	<li id="signin_icon"><a href="/signup">SIGNIN</a></li>
    	
    	

        </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav><!-- /navbar -->